.loadingBox{
    position: absolute;
    top: 45%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 55px;

    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    z-index: 100;
}

.content{
    display: flex;
    position: absolute;
    left: 55%;
    top: 80%;
    transform: translate(-50%, -50%);
}